h1 {background-color: black; color: antiquewhite; text-align: center; line-height: 2;}
a { color: black; text-decoration: none;}
* {margin: 0;padding: 0; box-sizing: border-box;}
.ss4-2 {text-align: center; background-color: rgb(126, 122, 120);}